@charset "utf-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body */
html{
  width: 100%;
  min-height: 100vh;
}
body{
 width:100%;
 min-height: 100vh;
}

.all_content{
  background:#ECF1F6;
  width: 100%;
  min-height: 100vh ;
}
p{
  margin: 0;
}
ul,
li{
  list-style:none;
}

.font-gray{
  color:gray;
}

 .profile-font-gray{
  font-size: 18px;
}


/* ログインページ */


.atlas_logo{
  width: 40%;
  height: auto;
  margin-left: 120px;
  margin-bottom: 30px;
}

.background-white{
  background: #fff;
}
/* エラーメッセージ赤字 */
.error-message{
  color:red;
  margin-bottom: 0;

}

/* 新規登録 ボーダー */
.border{
  border-radius: 13px;
  box-shadow: 3px 3px 2px 1px #bbb;   /* 影指定 */
}

.border-mail{

}

/* 新規登録 性別 ラジオボタン */
.sex-flex{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.sex-box{
  display: inline-block;
  width: 35%;
  height: 30px;
  margin-left: 5%;
}

/* 役職flex */
.role-flex{
  display:flex;
  align-items: center;
  justify-content: center;
}

.role-box{
  width: 85px;
  height: auto;
  margin-right: 10px;
}

/* サイドバー */
.sidebar{
  font-size: 18px;
  width:220px;
  min-height:160vh;
  background-color:#03AAD2;
  font-weight:bold;
}
/* ---------------------- */
.main-container{
  width:100%;
  height: 100vh;

}
/* ----------------------- */
.sidebar p a{
  color:#FFF;
}

/* トップページ */
.user_status{
  border-radius:10px;
  background:#FFF;
}

/* スクール予約関連 */
.day-blank{
  background:#D3D3D3;
}
.day-sat{
  color:#0000FF;
}
.day-sun{
  color:#FF0000;
}
.past-day{
  background:#EEE;
}
.calendar-td{
  min-width:100px;
}
.day_part{
  color:#494949;
  font-size:12px;
}
.adjust-table{
  width:70% !important;
}
.adjust-table td{
  padding:0 !important;
}
.adjust-area p{
  justify-content: space-around;
}
.adjust-table-btn{
  width:70%;
}

/* モーダル */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

/* .return_btn{
  display: inline-block;
  line-height:3;
  padding: 10px 0;
} */

/* 掲示板 */
.sub_categories{
  display:none;
}

.post_create_area{
  background:#FFF;
  border-radius:10px;
}
.post_create_area textarea{
  resize:none;
  height:300px;
  white-space: pre-wrap;
}
.detail_container{
  background:#FFF;
  min-height: 100vh;
  border-radius: 20px;
}
/* -----------投稿表示欄-----*/
.post_area{
  background:#FFF;
  border-radius:10px;
}
.m-posts{
  margin-left: 100px;
  margin-right: 100px;
  padding: 15px;
}
/*--------検索欄------------*/
.post_view{
  width: 80%;
}
.other_area{
  min-height: 100vh;
  width: 20%;
  margin-top: 50px;
  margin-right: 100px;
}

.search-area{
  /* padding-right: 200px; */
  min-height: 100vh;
}
/* 投稿ボタン*/
.post_btn{
  width: 100%;
  text-align: center;
  padding: 8px 3px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #03AAD2;
  border: none;
  color: #fff;
  transition: all  0.3s ease;
}

.post_btn:hover{
  background-color: #0000FF;
}
.post-color{
  color: #fff;
  font-size: 16px;
}

/* 検索ボタン-------------------------------*/
.search-box{
  width: 100%;
  height: auto;
  vertical-align: middle;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.searcher-text{
  display: inline-block;
  width: 70%;
  height: auto;
  background-color:#ECF1F6;
  border-width: 0.5px ;
  opacity : 0.7;
  border-radius: 10px 0 0 10px;
}
.searcher_btn{
  display: inline-block;
  color: #fff;
  background: #03AAD2;
  width: 30%;
  height: auto;
  padding :8px 20px;
  border: none;
  border-radius: 0 10px 10px 0;
  transition: all  0.3s ease;
}
.searcher_btn:hover{
  background-color: #0000FF;
}
/* -------いいねした投稿、自分の投稿------------------------------- */
.like_post_btn{
  display: flex;
  align-items: center;
}

.search_like_btn_good{
  text-align: center;
  display:inline-block;
  width:50%;
  font-size:16px;
  padding:10px 30px;
  border:none;
  background:#DDA0DD;
  color:#FFF;
  border-radius: 10px;
  transition: all  0.3s ease;
}
.search_like_btn_good:hover{
  background-color: #0000FF;
}

.search_like_btn_myself{
  display:inline-block;
  width:50%;
  font-size:16px;
  padding:10px 30px;
  border:none;
  background:#FFD700;
  color:#FFF;
  border-radius: 10px;
  transition: all  0.3s ease;
}
.search_like_btn_myself:hover{
  background-color: #0000FF;
  color:#fff;
}

/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.post_bottom_area{
  justify-content: flex-end;
}

/* タイトル */
.post-title{
  font-weight: bold;
  color: #000;
}

.name-color{
  color: gray;
}

/* いいねボタン */
.like_btn,
.un_like_btn{
  cursor:pointer;
}

.un_like,
.un_like_btn{
  color:#E2254D;
}
.error_message{
  font-size:12px;
  color:red;
}

/* 掲示板 詳細画面 */
.contributor{
  font-size:12px;
  color:#999;
  font-weight:bold;
}
.detsail_post_title{
  font-size:14px;
}
.detsail_post{
  font-size:12px;
  color:#9E9E9E;
}
.detail_inner_head{
  display:flex;
  justify-content: space-between;
}
.edit-modal-open{
  cursor:pointer;
}
.modal-inner-body textarea{
  height:150px;
  resize:none;
}
.edit-modal-btn{
  justify-content: space-between;
}
/* 掲示板 コメント */
.comment_container{
  background:#FFF;
}
.comment_area p,
.comment_area input{
  font-size:12px;
  font-weight:bold;
}
.comment_area textarea{
  height:300px;
  resize:none;
  border-color: #DCDCDC;
}
.comment_container span{
  font-size:12px;
}
.post_status span{
  font-size:12px;
}

.comment_btn{
 text-align: right;
}

/* 掲示板　カテゴリー */
.category_area{
  background:#FFF;
  border-radius:10px;
}
.category_box{
  border-radius:5px;
  padding:3px;
  background:#999;
  font-size:10px;
  color:#FFF;
}
.category_btn{
  font-size:12px;
  border-radius:5px;
  padding:0 5px;
  border:none;
  background:#999;
  color:#FFF;
}
.main_categories span,
.sub_categories li input{
  list-style:none;
  cursor:pointer;
}

/* ユーザー検索 ---------------------------------------*/
.reserve_users_area{
  display:flex;
  flex-wrap:wrap;
  justify-content: start;
  width:70%;
  height: auto;
  margin:1% 0% 0% 3%;
  /* min-height:100vh; */
  overflow: scroll;

}

.reserve_users_area span{
  font-size:12px;

}

.one_person{
  width:19%;
  height:25%;
  background: #fff;
  margin-bottom: 2%;
  margin-right: 2.5%;
  padding: 2% 2% 0% 2%;
}
/* ------------------------ */
.search_content{
  min-height: 100vh;
  display:flex;
}

.search_area{
  min-height: 100vh;
  width: 40%;
}

.search_box{
  margin-top: 15%;
}

/* 検索、文字 */
.search-font{
  font-size: 28px;
  font-weight: normal;
  color:#4da6ff;
}

/* キーワードを検索 */
.free_word{
  background: #DCDCDC;
  border-radius: 12px;
  border: none;
}

.name_id_word{
  background: #DCDCDC;
  border-radius: 10px;
  border: none;
}

/* 矢印 v */
.arrow{
  width: 10px; /* ボックスの横幅を指定する */
  height: 10px; /* ボックスの高さを指定する */
  border-top: 2px solid #666666; /* 境界線の上部を実線に指定する*/
  border-right: 2px solid #666666;/* 境界線の上部を実線に指定する*/
  display: inline-block; /* インライン要素化 */
  margin-left: 65%;
  transform: rotate(135deg); /* 下向き矢印 */
}

/* 矢印を反転させる */
.arrow.open{
  /* 矢印の位置を少し変える */
  top: 45%;
  /* 矢印を上向きに変える */
  transform: rotate(-45deg);
}

/* プロフィール画面の矢印 */
.arrow-subjects{
  width: 7px; /* ボックスの横幅を指定する */
  height: 7px; /* ボックスの高さを指定する */
  border-top: 2px solid #03AAD2; /* 境界線の上部を実線に指定する*/
  border-right: 2px solid #03AAD2;/* 境界線の上部を実線に指定する*/
  display: inline-block; /* インライン要素化 */
  margin-left: 0.5%;
  margin-top: 2%;
  margin-bottom:0.3%;
  transform: rotate(135deg); /* 下向き矢印 */
}
/* 矢印を反転させる */
.arrow-subjects.open{
  /* 矢印の位置を少し変える */
  /* 矢印を上向きに変える */
  transform: rotate(-45deg);
  margin-bottom: 0.1%;
}



/* 検索ボタン */
.search__button {
  width: 100%;
  display       : inline-block;
  font-size     : 17pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 15px 10px;   /* 余白       */
  background    : #03AAD2;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #4da6ff;    /* 枠の指定 */
  border-radius: 15px;
}
.search__button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #4da6ff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


/* 「検索条件の追加」 */
.search_conditions{
  border-bottom: solid 1px #808080;
  width:100%;
  padding-bottom:8px;
}

.search_conditions span{
  cursor:pointer;
}
.search_conditions_inner{
  display:none;
}

.engineer{
  border: none;
  background: #DCDCDC;
  border-radius: 12px;
}

.btn-reset{
  border: none;
  color: #03AAD2;
}
.subject_edit_btn{
  font-size:12px;
  color:skyblue;
  cursor:pointer;
}
.subject_inner{
  display:none;
}

.profile-subjects_box{
  display: inline-block;
  
}
